@import "variables";

// MOBILE RESOLUTION

body {
  @include centered-flex;
  flex-direction: column;
  background-color: white;
}

#main-container {
  @include centered-flex;
  background-color: rgb(192, 192, 192);
  flex-direction: column;
  width: 100%;
  padding: 0 2% 25px !important;

  .main-sections {
  }
}

#main-box {
  width: 95vw;

  // HEADER
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
    padding: 10px 0 !important;

    #title {
      font-size: 2rem;
      text-align: center;
    }
    .introduction {
      font-size: 1.2rem;
    }
  }

  // MAIN IMAGE
  #img-div {
    @include centered-flex;
    flex-direction: column;
    background-color: rgb(212, 212, 212);
    padding-top: 10px !important;

    #image {
      width: 90%;
      height: auto;
      min-width: 250px;
      max-width: 700px;
    }
    #img-caption {
      text-align: center;
      font-size: 1rem;
      width: 100%;
      min-width: 300px;
      max-width: 850px;
      padding: 10px 0 !important;
    }
  }
}

// TRIBUTE TIME LINE
.tribute {
  @include centered-flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;

  #tribute-info {
    padding: 30px 0 !important;
    text-align: center;
  }
  .time-line-events {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    p {
      display: inline;
      padding: 0 300px;
      margin-left: 50px;
      line-height: 1.5rem;
    }
  }
}

// TOMB
.newtons-tomb {
  @include centered-flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  max-width: 600px;
  padding: 40px 0 20px !important;

  .tomb-head {
    font-size: 1.3rem;
    text-align: center;
  }
  .tomb-img {
    width: 100%;
    height: auto;
  }
}

// QUOTE
.quote-container {
  @include centered-flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  font-size: 1.05rem;
  text-align: justify;
}

// REFERENCES
.references {
  text-align: center;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(37, 37, 37, 0.938),
    rgb(37, 37, 37)
  );
  padding: 25px !important;
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(214, 212, 212);

  a {
    color: rgb(68, 80, 253);
  }
}
